/* Couleurs du site */
/*
White: #ffffff
Dark opacity 30% : rgba(0, 0, 0, 0.3)
Gray opacity 50% : rgba(233, 233, 233, 0.5)
Blue : #0E143C
Blue light : #179de9
Blue dark : #00507c
Pink light : #F1C6D7
Red opacity 50% : rgba(255, 0, 0, 0.5)
*/

:root {
    --white: #ffffff;
    --darkOpacity30: rgba(0, 0, 0, 0.3);
    --grayOpacity50: rgba(233, 233, 233, 0.5);
    --blue: #0E143C;
    --lightBlue: #179de9;
    --darkBlue: #00507c;
    --lightPink: #F1C6D7;
    --redOpacity50: rgba(255, 0, 0, 0.5);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100&family=Open+Sans:wght@300;400;600;700&family=Playfair+Display&display=swap');

body {
        font-family: 'Lato', sans-serif;
        font-size: 14px; 
        color:  var(--white);
        font-style: normal;
        margin: 0;
 /*   background-color: var(--lightPink); */
    background: transparent linear-gradient(130deg, var(--blue) 0%, var(--lightPink) 100%) fixed;
 /*   background: linear-gradient(to left, Blue, Pink); */
 /*  viewport height pour empécher */ 
 /*   height: 100vh;
    width: 100vh; */
}

.logo {
    width: 90px;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--grayOpacity50);
    
    padding: 10px 0;
 /*   padding: 20px 0 20px 0; */
}

.navLeft,
.navLeft ul,
.navRight ul{
    display:flex;
    flex-direction: row;
    list-style: none; /* on supprime les puces */
    gap: 30px; /* met un espace entre les éléments du menu nav */
    align-items: center;
}

/* applique un style sur les liens de nav */
.navLeft ul li a,
.navRight ul li a {
    text-decoration: none; /* supprime le soulignement */
    color:  var(--white);
    font-size: 0.85rem;
/*    transition: color 500ms; */
}

.button-empty-rounded {
    border:solid;
    border-width: 1px;
    border-radius: 40px;
    border-color:var(white)     ;
    color: var(--white);
    padding:4px 14px;
}

.button-blue {
    border: none;
    background: transparent linear-gradient(180deg, var(--lightBlue), var(--darkBlue));
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    padding:10px 30px;
    text-shadow: 1px 1px 0 var(--darkOpacity30);
    box-shadow: 0 3px 4px   var(--darkOpacity30);
    margin-right: 15px;
}

.button-empty {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color:white;
    text-decoration: none;
    color: var(--white);
    padding:10px 30px;
}

.container {
    width: 75%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 150px 0;
}

.checkout h1 {
    font-size: 2.5rem;
    margin:0;

}

.checkout p {
    font-size: 1.3rem;
    width: 60%;
    margin: 20px 0 40px 0;
}

.slideshow {
    position: relative;
    width: 70%;
    text-align: center;
}

.slideshow img:nth-child(1),
.slideshow img:nth-child(2) {
    filter: drop-shadow(40px 40px 40px var(--darkOpacity30));
}


.slideshow img:nth-child(1) {
    margin-right: 200px;
}
/*
.slideshow img:nth-child(2) {
    position: absolute;
    left: 150px;
    bottom: -75px;
}
*/
.slideshow img:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;
    filter: drop-shadow(40px 40px 40px var(--redOpacity50));
}

/*
.imgAbsoluteOne {
    position: asbolute;
    left: 200;
    bottom: -100;
} 

.imgAbsoluteThird {
    position: absolute;
    left: 300px;
    bottom: 444px;
} 

.imgAbsoluteMiddle {
    position: relative;
    left: -100px;
    bottom: -80px;
} 
*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    border-top: 1px solid var(--grayOpacity50);
    padding: 10px 0;
}

footer img {
    width: 70px; 
    opacity: 0.5;
}

footer div ul {
    display:flex;
    flex-direction: row;
    list-style: none; /* on supprime les puces */
    gap: 10px; /* met un espace entre les éléments du menu nav */
}

/* applique un style sur les liens de nav */
footer div ul li a {
    text-decoration: none; /* supprime le soulignement */
    color:  var(--white);
/*    transition: color 500ms; */
}